.upload_box{
    width: 50%;
    position: relative;
}



.upload_box_input_para{
    padding: 0 1rem;
 }
 
 .upload_box_slider_div{
  display: flex;
  gap: 1rem;
 }
 
 .upload_box_slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     border: 1px solid var(--icons-color);
     border-radius: 1rem;
     padding: 1rem;
     cursor: pointer;
 }
 
 .upload_box_slider_box_img_img{
     border-radius: 50%;
 }
 

 
 .upload_box_slider_box p{
     font-size: 1.2rem;
     font-weight: 700;
     line-height: 1.2;
 }
 
 .upload_box_btn{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     margin-block: 4rem;
     gap: 2rem;
 }
 
 .upload_box_btn_style{
     width: 100%;
     display: grid;
     align-self: center;
     font-size: 1.3rem;
 }
 
 .active{
     background-color: var(--icons-color);
     color: var(--main-bg-color);
 }
 
 @media screen and (max-width: 35em) {
     .upload_box_slider_div{
         display: grid;
         grid-template-columns: repeat(2, 1fr);
     }
 }

 .successMessage {
    color: white;
    font-size: 1.2em;
    margin-top: 10px;
    text-align: center;
  }

  



  /* Create Collection Page CSS */


  
.createCollection {
    display: flex;
    justify-content: center;
  }
  
  .card {
    background-color: #1d2124;
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 2rem;
    border-radius: 15px;
  }
  
  .chooseImg {
    display: flex;
    gap: 2rem;
  }
  
  .chooseImg img {
    border-radius: 15px;
  }
  
  .choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .choose button {
    padding: 10px 0;
    background-color: #3f4245;
    border: none;
    border-radius: 8px;
  }
  
  /* Inputs Css */
  
  .container {
    margin: 15px;
  }
  .label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .required {
    font-size: 12px;
    color: #888888;
  }
  .input_container {
    position: relative;
    margin-top: 10px;
  }
  .input_field {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #333333;
    color: #ffffff;
    font-size: 14px;
  }
  .note {
    font-size: 12px;
    color: #888888;
    margin-top: 5px;
  }
  
  /* Create Btn Css */
  
  .create {
      border-radius: 10px;
      border: none;
    background-color: white;
    color: #111;
    padding: 10px 0;
  }
 

  .modalOverlay {
    position: fixed;
    width: 100%;
    /* height: 100vh; */
    top: -115px;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    z-index: 999;
  }
  
  .createCollectionModal {
    position: relative;
    margin: auto;
    top: 11.2%;
    width: 35%;
    padding: 20px;
    border-radius: 10px;
    z-index: 2000;
  }
  