.whole {
  width: 20vw;
  position: absolute;
  background-color: #121212;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  right: 0;
  border-radius: 15px;
  padding: 20px;
}
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.profile img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.profile .name {
  font-size: 22px;
  font-weight: bold;
}
.profile .view-profile {
  font-size: 16px;
  color: #888888;
}
.profile .arrow {
  margin-left: auto;
  font-size: 22px;
  color: #888888;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu li {
  font-size: 26px;
  margin: 15px 0;
  cursor: pointer;
  transition: color 0.3s;
}
.menu li:hover {
  color: #ffdf2b;
}
.menu li .dropdown {
  font-size: 20px;
  margin-left: 5px;
}

.disconnectButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff4d4f; /* Red color to signify disconnect */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.disconnectButton:hover {
  background-color: #ff7875; /* Slightly lighter color on hover */
}

.disconnectButton i {
  margin-right: 8px; /* Space between icon and text */
}
