


.upload_box_row {
    display: flex;
    gap: 20px;
    width: 100%;
}

.upload_box_row > .Form_box_input {
    flex: 1;
}

.Form_box_input {
    width: 100%;
}

.Form_box_input_userName,
.Form_box_input_box input,
.Form_box_input textarea {
    width: 100%;
    box-sizing: border-box; /* Ensures padding doesn't affect total width */
}


  /* Media Query for Responsive Design */
  @media (max-width: 768px) {
    .upload_box_row {
      flex-direction: column;
      gap: 10px; /* Adjust spacing for smaller screens */
    }
  }
  
.upload_box_input_para{
   padding: 0 1rem;
}

.upload_box_slider_div{
 display: flex;
 gap: 1rem;
}

.upload_box_slider{
    border: 1px solid var(--icons-color);
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.upload_box_slider_box{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.upload_box_slider_box_img_img{
    border-radius: 50%;
}

.upload_box_slider_box_img_icon{
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    border-radius: 50%;
    display: grid;
    padding: .2rem;
}

.upload_box_slider p{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2;
}

.upload_box_btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-block: 4rem;
    gap: 2rem;
}

.upload_box_btn_style{
    width: 100%;
    display: grid;
    align-self: center;
    font-size: 1.3rem;
}

.active{
    background-color: var(--icons-color);
    color: var(--main-bg-color);
}

@media screen and (max-width: 35em) {
    .upload_box_slider_div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}