
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --icons-color: #ffdf2b;
  --icons-light-color: #ffdf2b57;
  --icons-bg-color: #ffdf2b;
  --shadow-dark-color: #555557;
  --bg-shadow-dark-color: #555557;
  --shadow-light-color: #232325;
  --main-bg-color: #232325;
  --overlay: #2323255e;
  --box-shadow: 1px 1px 2px #ffdf2b, -1px -1px 2px #ffdf2b;
  --box-shadow-2: 1px 1px 2px #ffdf2b, -1px -1px 2px #ffdf2b;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  background-color: var(--main-bg-color);
  color: var(--icons-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: none;
}

::selection{
  color: var(--shadow-dark-color);
  background: var(--icons-color);
}

::-webkit-scrollbar{
  width: 1rem;
  border: 1px solid var(--main-bg-color);
}

::-webkit-scrollbar-track{
  border-radius: 0;
  background-color: var(--main-bg-color);
}

::-webkit-scrollbar-thumb{
  border-radius: 2rem;
  background:  var(--icons-color);
  width: .5rem;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
