.DropZone {
  width: 100%;
  margin-block: 3rem;
  display: flex;
  gap: 5rem;
  position: relative;
}

.DropZone_box {
  width: 50%;
  border: 2px dashed #303336;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
}

.DropZone_box_input p {
  line-height: 0;
}

.choose {
  padding: 20px 0;
  margin: 0 10rem;
  border-radius: 5px;
  background-color: #303336;
  font-weight: 600;
}

.DropZone_box_input_img_img {
  width: 300px;
  border-radius: 1rem;
}

.DropZone_box_aside {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 30%;
  height: 25rem;
  padding: 2rem;
  border: 2px solid #303336;
  border-radius: 1rem;
}

.DropZone_box_aside_box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.DropZone_box_aside_box .NFTimgPreview {
  border-radius: 0.8rem;
}

.DropZone_box_aside_box_preview p span {
  font-size: 1.2rem;
  font-weight: 700;
}

.DropZone_box_aside_box_preview_one {
  font-weight: 700;
  font-size: 1.2rem;
}

@media screen and (max-width: 35em) {
  .DropZone_box_aside_box_preview_one {
    display: grid;
  }
  .DropZone_box_aside_box {
    grid-template-columns: 1fr;
  }
}
